/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-heading {
  font-family: 'Playfair Display', serif;
}

/* Theme Colors */
.text-primary {
  color: #5e548e;
}

.bg-primary {
  background-color: #5e548e;
}

.bg-dark {
  background-color: #231942;
}

.bg-light {
  background-color: #f4f1f9;
}

.text-light {
  color: #f4f1f9;
}